<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="image/svg+xml" href="/images/pageIcon.svg">
    <!--Hoja de Estilos General-->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <button id="sidebarToggle" class="sidebar-toggle">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
        </button>
        <div class="navCenter">
            <nav class="navBar">
                <ul class="navLinks">
                    <div class="navObject">
                        <li><a href="/">Inicio</a></li>
                        <div class="nav-underline"></div>
                    </div>
                    <div class="navObject">
                        <li><a href="/#">Eventos</a></li>
                        <div class="nav-underline"></div>
                    </div>
                    <div class="navObject">
                        <li><a href="/#">Calendario</a></li>
                        <div class="nav-underline"></div>
                    </div>
                    <div class="navObject">
                        <li><a href="/force-error">error</a></li>
                        <div class="nav-underline"></div>
                    </div>
                </ul>
            </nav>
        </div>
        <script src="/javascripts/themeSwitch.js" defer></script>
        <div class="navRight">
            <button id="themeSwitcher">
                <!-- tus SVGs aquí -->
            </button>
        </div>
    </header>

    <aside id="sidebar" class="sidebar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/#">Eventos</a></li>
            <li><a href="/#">Calendario</a></li>
            <li><a href="/force-error">Error</a></li>
        </ul>
    </aside>
    <!-- ...resto del contenido... -->
